.front-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, transparent, black);
    background-size: cover;
    animation: fade-background 1s infinite ease-in-out;
}

@keyframes fade-background {
    0% {
        background-color: red;
    }
    25% {
        background-color: orange;
    }
    50% {
        background-color: yellow;
    }
    75% {
        background-color: green;
    }
    100% {
        background-color: blue;
    }
}

.front-header .content h1 {
    font-size: 7em;
    margin: 1em;
    padding: 0;
    flex: 1;
    text-align: left;
    font-family: 'Open Sans';
}

.front-header .content h2 {
    text-align: left;
    font-size: 3em;
    margin: 2em;
    padding: 0;
    flex: 1;
    font-family: 'Open Sans';
}

.front-header img {
    width: 45%;
    height: 85%;
    margin: 0 20px;
    object-fit: cover;
}