.front-header {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.front-header {
    text-align: center;
}

.front-header .content h1 {
    font-size: 7em;
    padding: 0;
    flex: 1;
    font-family: 'Space Mono';
    color: rgb(255, 255, 255);
}

.space-button {
    display: inline-block;
    background-color: #111;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 12px 32px;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .space-button span {
    position: relative;
    z-index: 1;
  }
  
  
  .space-button:hover {
    background-color: #f8f8f8;
    color: #111;
  }
  
  
  .space-button:active {
    background-color: #f94b4c;
    color: #fff;
  }